<div class="search-container">
  <div *ngIf="loaderService.isLoading|async" class="loader-container">
    <mat-progress-bar mode="query"></mat-progress-bar>
  </div>
  <form action="" class="search-form" #f="ngForm" (ngSubmit)="onSubmit(f)">
   <span class="logo" routerLink="/">ASJEUX 237</span>
    <input
      class="search-input"
      name="search"
      ngModel
      placeholder="Search 500,000+ games"
    >
    <button class="search-button">Search</button>
  </form>

    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <fa-icon [icon]="faBars"></fa-icon>
    </label>

  <ul class="nav">
    <li routerLinkActive="active"><a href="#"> <fa-icon style="margin-right: 10px"  [icon]="iconfaInfo"></fa-icon>About</a></li>
    <li  routerLinkActive="active"><a href="#"><fa-icon style="margin-right: 10px" [icon]="faPhone"></fa-icon>Contact</a></li>
    <li  routerLinkActive="active"><a href="#"><fa-icon style="margin-right: 10px" [icon]="faFolderOpen"></fa-icon>Portfolio</a></li>
  </ul>
</div>
