<div class="filters">
  <mat-form-field>
    <mat-label>Sort</mat-label>
    <mat-select
      panelClass="sort-select"
      infiniteScroll
      [(ngModel)]="sort"
      (selectionChange)="searchGames(sort)"

      [infiniteScrollDisabled]="isFullListDisplayed"
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
    >
      <mat-option value="name">Name</mat-option>
      <mat-option value="-released">Released</mat-option>
      <mat-option value="-added">Added</mat-option>
      <mat-option value="-created">Created</mat-option>
      <mat-option value="-rating">Rating</mat-option>
      <mat-option value="metacritic">Metacritic</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="games" style="transition: .2s ease">
  <ng-container *ngFor="let game of games" >
    <div class="game" (click)="openGameDetails(game.id)">
      <div class="game-thumb-container">
        <img
          *ngIf="game.background_image"
          src="{{game.background_image}}"
          alt="thumbnail"
          class="game-thumbnail"
        >
        <p *ngIf="game.background_image">No image</p>
      </div>
      <div class="game-description">
        <p class="game-name">{{game.name}}</p>
        <div class="game-platforms">
          <img
            *ngFor="let gamePlatforms of game.parent_platforms"
            src="assets/images/platforms/{{gamePlatforms.platform.slug}}.svg"
            alt="slug"
            class="game-platform"
          >
        </div>
      </div>
    </div>
  </ng-container>

  <div style="text-align: center;">
    <button
      (click)="onScroll()"
      style="border-radius: 20px;
      color: white; background-color: #3f51b5;
      cursor: pointer ;
      padding: 15px; width: 200px"
    >
      plus
    </button>
  </div>
</div>
